name: Deploy Node Backend to VPS

on:
  push:
    branches:
      - main

concurrency:
  group: deploy-main
  cancel-in-progress: true

jobs:
  deploy:
    runs-on: [self-hosted, linux]

    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1
        with:
          host: ${{ secrets.VPS_HOST }}
          username: tksultan
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22
          debug: true
          script: |
            set -e
            cd ~/backend-thrive
            git fetch origin
            git reset --hard origin/main
            git clean -fd
            npm install --omit=dev
            pm2 reload backend-thrive --update-env
